:root{
    --RTShadow:0 1px 2px rgba(0, 0, 0, 0.2);
}

.bg-gray {
    background-color: #E4E6EB;
}

.RT-shadow {
    box-shadow:var(--RTShadow);
}

.RT-radius {
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
}

.list-category .cat-list-items {
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

.RT-list-products tr th {
    border: 0;
}

.err {
    border: 1px solid red;
}

.noerr {
    border: 1px solid green;
}

.product-add input {
    margin-bottom: 10px;
}

/*admin category*/
.img-preview-close{
    position:absolute;
    top:-10px;
    right:-5px;
    color:red;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.img-preview-close:hover{
    color:#000;
    transition:0.5s;
}

/*alert-close-btn*/
.alert-close-btn{
    cursor: pointer;
    font-size: 20px;
}
.alert-close-btn:hover{
    color: red;
    transition:0.3s;
}

/*product-list-tr*/
.product-list-tr:hover{
    transition:0.3s;
    box-shadow: 0 0 4px #333;
}
.product-list-tr td{
    height: 60px;
    border-bottom: 1px solid #ddd;
}
.product-list-tr td div{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
    text-transform:capitalize;

}
/*product-table-head-tr*/
.product-table-head-tr th{
    text-align: center;
}

/*order-tap-pane-controller*/
.order-tap-pane-controller{
    display: flex;
    max-width: 700px;
    height: 40px;
    overflow-x:scroll;
    padding: 0;
    border-bottom: 0;
}
.order-tap-pane-controller a{
    width:80px;
    height:100%;
    border-radius: 0!important;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 13px;
    font-weight:bold;
    text-transform:capitalize;
}
.order-tap-pane-controller .nav-link.active{
    background-color: #e74a3b!important;
    color:#fff;
    border:none;
}

.order-tap-pane-controller .nav-link{
    background-color: #f8f9fc!important;
    color:"#000";
    border:none;
}

.order-tap-pane-controller::-webkit-scrollbar {
    display: none;
}
  
.order-tap-pane-controller {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*user-profile-avatar*/
.user-profile-avatar .avatar {
	height: 50px;
	width: 50px;
    border-radius: 25px;
    background-color: #E4E6EB;
}
.user-profile-avatar .avatar-img{
    height: 50px;
	width: 50px;
    border-radius: 25px;
    border:1px solid  rgb(207, 207, 207);
}
/*
.user-profile-avatar .avatar:before {
	content: ":hover state on";
	display: inline-block;
	position: absolute;
	left: -70px;
	top: -80px;
	height: 40px;
	line-height: 40px;
	width: 200px;
	text-align: center;
	color: #1e1e21;
	font-weight: 400;
    font-size: 1.2em;
	text-shadow: 1px 0 0 rgba(0,0,0,0.5);
	font-family: 'Roboto Mono', monospace;
}

.user-profile-avatar .avatar-img {
	height: 70px;
	width: 70px;
	background: blue;
	border: 2px solid black;
	position: absolute;
	margin: 2px 0 0 2px;
	z-index: 99;
	overflow: hidden;
}

.user-profile-avatar .live-marker {
	background: crimson;
    position: relative;
    z-index: 100;
    height: 20px;
    width: 40px;
    text-transform: uppercase;
    border-radius: 15%/25%;
    line-height: 16px;
    text-align: center;
    border: 2px solid #000;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 1px;
    top: 59px;
	left: 50%;
	margin-left: -20px;
	text-shadow: 1px 0 0 rgba(0,0,0,0.4);
}
*/

/*address-details-box*/

.address-details-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.address-details-box span{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: px;
    text-transform:capitalize;
    color: #000 !important;;
}
/*product-info-body*/

.invoice-card {
    display: flex;
    flex-direction: column;
    padding: 10px 2em;
    background-color: #fff;
    border-radius: 5px;

  }
  
  .invoice-card > div {
    margin: 5px 0;
  }
  
  .invoice-title {
    flex: 3;
  }
  
  .invoice-title #date {
    display: block;
    margin: 8px 0;
    font-size: 12px;
  }
  
  .invoice-title #main-title {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
  }
  
  .invoice-title #main-title h4 {
    letter-spacing: 2.5px;
  }
  
  .invoice-title span {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .invoice-details {
    flex: 1;
    border-top: 0.5px dashed grey;
    border-bottom: 0.5px dashed grey;
    display: flex;
    align-items: center;
  }
  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .invoice-table thead tr td {
    font-size: 12px;
    letter-spacing: 1px;
    color: grey;
    padding: 8px 0;
  }
  
  .invoice-table thead tr td:nth-last-child(1),
  .row-data td:nth-last-child(1),
  .calc-row td:nth-last-child(1)
  {
    text-align: right;
  }
  
  .invoice-table tbody tr td {
      padding: 8px 0;
      letter-spacing: 0;
  }
  
  .invoice-table .row-data #unit {
    text-align: center;
  }
  
  .invoice-table .row-data span {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .invoice-footer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .invoice-footer #later {
    margin-right: 5px;
  }



/*user delete popup model*/
  

.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
  
  
/*search-item-for-offer*/
.search-item-for-offer{
    cursor: pointer;
    color: #000;
    text-transform: lowercase;
    padding-top: 2px;
    padding-bottom: 2px;
}
.search-item-for-offer:hover{
    background-color: #f2f2f2;
    transition: 0.5s;
}
/* search loader */
.load-search{
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-search:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  


.image-upload-wrapper:hover::before{
    content: "#";
    width: 100%;
    height: 100%;
    background-color: #e74a3b;
    z-index: 2021;
    position: absolute;
}


.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    
}
  
  .img-upload-wrapper:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
    color:#000;
  }
  
  .img-upload-wrapper:hover{
    background-color: rgba(0, 0, 0, 0.192);
    transition: 0.5s;
    border:1px solid #c1c1c1;
  }
  
  .content-details i{
    color: #000;
    font-size: 25px;
    cursor: pointer;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }